<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<!-- <listener>
		<listener-class>com.kdyzm.listener.RequestListener</listener-class>
	</listener> -->
	<filter>
		<filter-name>requestfilter</filter-name>
		<filter-class>com.kdyzm.filter.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.kdyzm.listener.SessionListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
</web-app>